dash==2.10.2
dash-canvas==0.1.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Flask==2.2.5
gunicorn
imageio==2.30.0
Jinja2==3.1.2
joblib==1.2.0
lazy_loader==0.2
matplotlib
numpy
packaging
pandas
Pillow
plotly
pyparsing
python-dateutil
pytz
scikit-image
scikit-learn
scipy
Werkzeug
